// sass -I node_modules sass/style.scss sass/css/style.css
//sass -I node_modules/ --watch sass/style.scss:sass/css/style.css
//BODY

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

$f1: 'Abril Fatface', cursive;
@mixin font($typeface) {
  font-family: $typeface;
}


$base-color: #ddd;
$border-dark: rgba($base-color, 0.88);
$nav-height: 15vh;


body {
  background-color: $base-color;

    #primary {
      //height:100vh;
      //border:1px solid $border-dark;
        & > header, #header {
          background-color: #eee;
          //height:100vh;
          //height: calc(100vh - #{$nav-height});
          .carousel-item {
            .page-title {
              //position: relative;
              //left:50vh;
              //top:50vh;
              text-transform: uppercase;
              @include font($f1);
              font-size:2.25rem;
            }

            img {
              //height:auto;
              @include media-breakpoint-up(sm) {
                max-height:80vh
              }
              @include media-breakpoint-up(lg) {
              	max-height:90vh;
		      }
            }
          }
          .carousel-control-prev, .carousel-control-next {
            height:90vh;
            .carousel-control-prev-icon {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
            }

            .carousel-control-next-icon {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
            }
          }
        }
        main {
          section {
            margin-top:0;
            @include media-breakpoint-up(lg) {
              overflow-y:scroll;
              max-height: 55vh;
            }
            @include media-breakpoint-up(sm) {
              margin-top:10vh;
            }
              article {
                padding:3vh;

              }
          }
        }
        section {
          background-color: #fff;
        }

        footer, #footer {
          background-color: #eee;
        }
    }
    nav {

      .navbar-toggler {
        font-size: 1.25rem;
        text-transform: uppercase;
        @include font($f1);
      }
      //height:$nav-height;
      #navbarNav {
        //background-color: green;

        @include media-breakpoint-up(lg) {
          max-height:10vh;
          //background-color: red;
        }
        .nav-item {
          font-size: 1.25rem;
          text-transform: uppercase;
          @include font($f1);
          //align-self:center;
        }
        .navbar-brand {
          background-image: url("../../img/ccd_logo_textless.png");
          background-repeat:no-repeat;
          background-size:100% auto;
          width:125px;
          height:125px;
          margin: 15px auto 0 auto;
          @include media-breakpoint-up(lg) {
            //margin-bottom:30px;
            width:175px;
            height:175px;
            position: absolute;
            left:50%;
            z-index:50;
            bottom:0vh;
            -webkit-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
          }
        }
      }
    }
}
