//https://getbootstrap.com/docs/4.3/layout/overview/
// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) { ... }
//@include media-breakpoint-up(xl) { ... }

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
//.custom-class {
//  display: none;
//}
//@include media-breakpoint-up(sm) {
//  .custom-class {
//    display: block;
//  }
//}
//
//@include media-breakpoint-down(xs) { ... }
//@include media-breakpoint-down(sm) { ... }
//@include media-breakpoint-down(md) { ... }
//@include media-breakpoint-down(lg) { ... }
//// No media query necessary for xl breakpoint as it has no upper bound on its width
//
//// Example: Style from medium breakpoint and down
//@include media-breakpoint-down(md) {
//  .custom-class {
//    display: block;
//  }
//}